.article-view-title{

}

.article-view-title-h1{
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    margin-top: 60px;
    margin-bottom: 30px;
}

.article-view-pic{

}

.article-view-pic-img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.article-view-content{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.article-view-comment-add{
    margin-top: 55px;
    margin-bottom: 40px;
}

.article-view-comment-add-userpic{
    width: 60px;
    height: 60px;
    background: url("/static/backend/img/user1.png") no-repeat center;
    background-size: cover;
}

.article-view-comment-add-comment{

}

.article-view-comment-add-comment-input{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: rgba(30, 30, 30, 0.38);

    padding: 18px;

    border-radius: 8px;
    border: solid 1px #aaaaaa;

    width: 100%;
}

.article-view-comment-add-button-submit{

}

.article-view-comment-add-submit-btn{
    width: 60px;
    height: 60px;
    background: url("/static/backend/img/send.png") no-repeat center;
    background-size: cover;

    border: none;
    cursor: pointer;
}

.article-view-comment-list{
    margin-bottom: 50px;
}

.article-view-comment-list-item{
    margin-top: 40px;


}

.article-view-comment-list-userpic{
    display: inline-block;

    width: 60px;
    height: 60px;
    background: url("/static/backend/img/user1.png") no-repeat center;
    background-size: cover;
}

.article-view-comment-list-content{
    display: inline-block;
    margin-left: 33px;
    vertical-align: top;
}

.article-view-comment-lst-content-date{
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
}

.article-view-comment-lst-content-text{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1e1e1e;
    margin-top: 13px;
}