.article-add-title{
    margin-top: 72px;
}

.article-add-title-h1{
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d24;
}

.article-add-form{

}

.article-add-form-group{

}

.article-add-form-group-label{
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #1d1d24;
    margin-top: 29px;
}

.article-add-form-group-input{
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    border: solid 1px #aaaaaa;
}



.article-add-form-group-input.mod-textarea{
    height: 230px;
}

.article-add-from-group-label-file{
    width: 83px;
    height: 50px;
    position: absolute;

    background-image: url("/static/backend/img/file.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: block;

    cursor: pointer;

    top: 63px;
    left: 14px;

}

.article-add-form-group-input.mod-file{
    width: 83px;
    height: 50px;
    opacity: 0;
    display: block;
}

.article-add-form-footer{

}

.article-add-form-footer-btn{
    text-align: right;
    padding-top: 61px;
}

.article-add-form-footer-btn-cancel{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    padding: 15px 44px;
    background: #b2b2b2;
    display: inline-block;
    border-radius: 8px;
}

.article-add-form-footer-btn-cancel:hover{
    text-decoration: none;
    color: #ffffff;
}

.article-add-from-footer-submit{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    border: 0;
    padding: 15px 35px;
    background: #ff4a33;
    margin-left: 20px;
    border-radius: 8px;
    cursor: pointer;
}


