.article-done{
    text-align: center;
}

.article-done-img {
    width: 180px;
    margin-top: 260px;
    margin-bottom: 34px;
}

.article-done-text {
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff4a33;
}